.sidebar-menu-area::-webkit-scrollbar {
    width: 5px;
    display: none;
}

.sidebar-menu-area:hover::-webkit-scrollbar {
    display: none;
}
 
.sidebar-menu-area::-webkit-scrollbar-track {    
    width: 100%;
    background: #383838;
}
 
.sidebar-menu-area::-webkit-scrollbar-thumb {
    width: 100%;
    background: #858585;
}
::-webkit-scrollbar {
    width: 5px;
    display: block;
}

:hover::-webkit-scrollbar {
    display: block;
}
 
::-webkit-scrollbar-track {    
    width: 100%;
    background: #1a1a1a;
}
 
::-webkit-scrollbar-thumb {
    width: 100%;
    background: #111111;
}

/* datepicker style */
.datepicker {
    padding: 5px;
}

.datepicker table tr th {
    padding: 5px 5px;
}

.datepicker .day {
    padding: 5px;
}
.fot {
    margin: 39px 26px;
    margin-left: 40px;
}
.tammount{
    margin-top: 180px;
}