@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: normal;
  background: #f6f9fb;
}

img {
  max-width: 100%;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #14171a;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.header-area {
  background: #4caf50;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-logo {
  min-width: 240px;
  max-width: 240px;
  text-align: center;
  background: #14171a24;
  padding: 6px 0px;
  position: relative;
  transition: 300ms linear;
}

.header-logo a {
  text-decoration: none;
}

.header-logo a h3 {
  color: #FFF;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 5px;
}

.header-logo.no-header-logo {
  max-width: 0px;
  min-width: 0px;
  transition: 300ms linear;
}

.header-logo.no-header-logo a {
  display: none;
}

.nav-bar {
  position: absolute;
  left: auto;
  right: -30px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.header-nav {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav ul {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  display: inline-block;
  padding-left: 10px;
}

.header-nav ul li a {
  color: #FFF;
}

.header-form {
  display: flex;
  align-items: center;
}

.search_form {
  background: #00000014;
  width: 391px;
  padding: 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.search_form .custom-search-control {
  background: none;
  border: none;
  width: calc(100% - 50px);
  height: 30px;
  outline: none;
  color: #FFF;
}

.search_form .custom-search-control::placeholder {
  color: #f6f6f6;
}

.search-icon {
  padding-top: 3px;
  width: 25px;
  font-size: 16px;
  color: #F6F6F6;
}

.page-content-area {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  min-height: calc(100% - 50px);
  top: 50px;
  overflow: hidden;
}

.main-content-area {
  width: calc(100% - 240px);
  margin-left: 240px;
  transition: 300ms linear;
  padding: 15px 0px;
}

.page-info {
  margin-bottom: 30px;
}

.page-info .page-title {
  font-weight: 500;
}

.page-info .page-description {
  font-weight: 300;
}

.sidebar-menu-area {
  min-width: 240px;
  max-width: 240px;
  background: #14171a;
  position: fixed;
  left: 0;
  top: 0px;
  padding-top: 50px;
  height: 100%;
  overflow-y: auto;
  transition: 300ms linear;
}

.no-sidebar .sidebar-menu-area {
  min-width: 0px;
  max-width: 0px;
  left: -240px;
  transition: 300ms linear;
}

.no-sidebar .main-content-area {
  width: calc(100%);
  margin-left: 0px;
  transition: 300ms linear;
}

.sidebar-menu li {
  position: relative;
  z-index: 1;
}

.sidebar-menu li a {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #b4c9de;
  font-weight: 400;
  text-transform: capitalize;
  border-left: 3px solid transparent;
  text-decoration: none;
}

.sidebar-menu li a i {
  flex: 0 0 25px;
  max-width: 25px;
  width: 25px;
  font-size: 16px;
}

.sidebar-menu li a span {
  transition-duration: 300ms;
  flex: 0 0 calc(100% - 30px);
  max-width: calc(100% - 30px);
  width: calc(100% - 30px);
}

.sidebar-menu li a .fa-angle-right {
  transition-duration: 300ms;
  font-size: 15px;
  position: absolute;
  right: 15px;
  width: auto;
  z-index: auto;
}

.sidebar-menu li a:hover {
  color: #e2e2e2 !important;
}

.sidebar-menu li.active a, .sidebar-menu li.menu-open a {
  color: #b4c9de;
  background-color: #0d100e;
  border-left: 3px solid #4caf50;
}

.sidebar-menu li .treeview-menu {
  display: none;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sidebar-menu li .treeview-menu .treeview-menu {
  margin-left: 15px;
}

.sidebar-menu li .treeview-menu li.active {
  color: #b4c9de;
}

.sidebar-menu li .treeview-menu li a {
  font-size: 14px;
  color: #8699ad;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 1;
  padding-left: 10px;
  background: none;
  border: none;
}

.sidebar-menu li .treeview-menu li a:hover {
  color: #8699ad;
}

.sidebar-menu li .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}

.sidebar-menu li .menu-open .treeview-menu a .fa-angle-right {
  transform: rotate(0deg);
}

.sidebar-menu li .menu-open .treeview-menu .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}

.sidebar-menu li .menu-open .treeview-menu .treeview-menu a .fa-angle-right {
  transform: rotate(0deg);
}

.sidebar-menu li .menu-open .treeview-menu .treeview-menu .menu-open a .fa-angle-right {
  transform: rotate(90deg);
}

.side-menu-area .sidebar-menu li a span {
  line-height: 1;
  transition-duration: 300ms;
}

.side-menu-area .sidebar-menu.active .treeview-menu {
  display: block;
}

.box {
  background: #ffffff;
  border: 1px solid #b4c9de;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box .box-header {
  padding: 10px 10px 15px 10px;
}

.box .box-header.with-border {
  border-bottom: 1px solid #f5f5f5;
}

.box .box-header .box-title {
  padding-bottom: 3px;
  font-weight: 500;
}

.box .box-header .box-description {
  color: #a9a9a9;
  font-weight: 300;
}

.box .box-body {
  padding: 15px 10px;
}

.box.box-success {
  padding: 0px;
  border-radius: 5px;
  border-color: #4caf50;
  background: none;
}

.box.box-success .box-header {
  background: #4caf50;
  border-radius: 5px 5px 0px 0px;
}

.box.box-success .box-header .box-title {
  color: #ffffff;
}

.box.box-success .box-header .box-description {
  color: #fff;
}

.box.box-info {
  padding: 0px;
  border-radius: 5px;
  border-color: #2196f3;
  background: none;
}

.box.box-info .box-header {
  background: #2196f3;
  border-radius: 5px 5px 0px 0px;
}

.box.box-info .box-header .box-title {
  color: #ffffff;
}

.box.box-info .box-header .box-description {
  color: #fff;
}

.table tr th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 8px 10px;
  border-bottom-width: 1px;
}

.table tr td {
  font-size: 14px;
  padding: 8px 10px;
}

.table.table-bordered thead {
  background: #eeeeee;
}

.table.table-striped thead {
  background: #14171a;
  color: #fff;
}

.table.table-dark thead, .table.table-light thead, .table.table-success thead, .table.table-info thead, .table.table-primary thead, .table.table-danger thead, .table.table-warning thead {
  background: inherit;
}

.table.table-hover tr td {
  cursor: pointer;
}

.form-group label {
  color: #14171a;
  font-family: "Poppins", sans-serif;
}

.form-group .form-control {
  font-size: 14px;
  font-weight: 400;
  color: #14171a;
}

.form-group .form-control:focus {
  box-shadow: none;
  border-color: #4caf50;
}

.form-group .form-control::placeholder {
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */